.categories{
  margin-top:  clamp(3.125rem, 2.2647rem + 3.5294vw, 5rem);
position: relative;
}
.categories__container{
  border-radius: 40px;
width: clamp(22.375rem, -2.9176rem + 103.7647vw, 77.5rem);
background: #f0f0f0;
padding: clamp(2.5rem, 1.6397rem + 3.5294vw, 4.375rem)  clamp(1.5rem, 0.3529rem + 4.7059vw, 4rem) clamp(1.6875rem, 0.2824rem + 5.7647vw, 4.75rem);
}

.categories__title {
font-weight: 900;
font-size: clamp(1.875rem, 1.3588rem + 2.1176vw, 3rem);
text-align: center;
color: #000;



}
@media (width<490px){
  .categories__title{
max-width: 16ch;
text-wrap: balance;
margin: 0 auto;
  }
}
.categories__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 289px;
  gap: clamp(1rem, 0.8853rem + 0.4706vw, 1.25rem);

  margin-top: clamp(1.75rem, 0.7176rem + 4.2353vw, 4rem);
}
.categories__item {
  position: relative;
  overflow:hidden; 
  border-radius: 20px;
  background: #fff;
  padding: 25px 36px;
 }

.categories__name {
  position: absolute;
font-weight: 700;
font-size: clamp(1.5rem, 1.1559rem + 1.4118vw, 2.25rem);
color: #000;
z-index: 2;
align-self: center;
}
.categories__image {
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.categories__image-free{
  transform-origin: 61% 35%;
  transform: scale(2.2);
  
}
.categories__image-formal{
transform-origin: -27% 0%;
  transform: scale(1.6);}
.categories__image-evening{
  transform-origin: 10% 0%;
  transform: scale(1.2);
}
.categories__image-sport{
  transform-origin: 6% 0%;
  transform: scale(1.3);
}
.categories__item-free{
  grid-column: 1 / 2;
  grid-row: 1;
}

.categories__item-formal{
  grid-column: 2 / 4;
  grid-row: 1;
}

.categories__item-evening{
  grid-column: 1 / 3;
  grid-row: 2;
}

.categories__item-sport{
  grid-column: 3 / 4;
  grid-row: 2;
}
@media (max-width: 992px){

.categories__list{
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 250px;
}

.categories__item-free,
.categories__item-formal,
.categories__item-evening,
.categories__item-sport{
  grid-column: auto;
  grid-row: auto;
}

}
@media (max-width: 600px){
  .categories__container{
    align-items: center;
  }

.categories__list{
  grid-template-columns: 1fr;
  grid-auto-rows: 220px;
}

}
  