.categories{
  margin-top:  clamp(3.125rem, 2.2647rem + 3.5294vw, 5rem);
position: relative;
}
.categories__container{
  border-radius: 40px;
width: clamp(22.375rem, -2.9176rem + 103.7647vw, 77.5rem);
height: clamp(54.125rem , 64.0632rem + -12.8235vw,60.9375rem );
background: #f0f0f0;

padding: clamp(2.5rem, 1.6397rem + 3.5294vw, 4.375rem)  clamp(1.5rem, 0.3529rem + 4.7059vw, 4rem) clamp(1.6875rem, 0.2824rem + 5.7647vw, 4.75rem);;
}

.categories__title {
font-weight: 900;
font-size: clamp(1.875rem, 1.3588rem + 2.1176vw, 3rem);
text-align: center;
color: #000;
}
.categories__list {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1rem, 0.8853rem + 0.4706vw, 1.25rem);
  margin-top:  clamp(1.75rem, 0.7176rem + 4.2353vw, 4rem);;
flex-wrap: wrap;
}
.categories__item {
  position: relative;
  
  border-radius: 20px;
  background: #fff;
  height:  clamp(11.875rem, 9.036rem + 11.6471vw, 18.0625rem);
}
.categories__item-free {
width:  clamp(19.375rem, 16.5934rem + 11.4118vw, 25.4375rem);
}
.categories__name {
font-weight: 700;
font-size: clamp(1.5rem, 1.1559rem + 1.4118vw, 2.25rem);
color: #000;
}
.categories__image {
  position: absolute;
}

.categories__item-formal {
width: clamp(19.375rem, 8.65rem + 44vw, 42.75rem);
}
.categories__item-evening {  
width: clamp(19.375rem, 8.65rem + 44vw, 42.75rem);
}
.categories__item-sport {  
width:  clamp(19.375rem, 16.5934rem + 11.4118vw, 25.4375rem);
}
  .categories__image-free{
    width: clamp(35.75rem, 24.2507rem + 47.1765vw, 60.8125rem);
  height: clamp(23.9375rem, 16.3096rem + 31.2941vw, 40.5625rem);
  transform: rotate(-180deg);
  }
  .categories__image-formal{
    width:  clamp(44.3125rem, 27.1926rem + 70.2353vw, 81.625rem);
  height:  clamp(29.5rem, 18.0868rem + 46.8235vw, 54.375rem);
  }
  .categories__image-evening{
    width: clamp(24.3125rem, 13.3868rem + 44.8235vw, 48.125rem);
  height: clamp(19.4375rem, 10.6912rem + 35.8824vw, 38.5rem);
  }
  .categories__image-sport{
    width: clamp(17.8125rem, 13.0235rem + 19.6471vw, 28.25rem);
  height:  clamp(26.5625rem, 19.336rem + 29.6471vw, 42.3125rem);
  }