.footer {

  background: #f0f0f0;
  padding:  clamp( 8.75rem, 12.95rem + -4.6667vw,11.8125rem) 0  clamp(4.75rem, 4.6571rem + 0.381vw, 5rem);;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width<992px) {
  .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
}
.footer__nav{
  display: grid;
 grid-template-columns: repeat(4, 1fr);
}
@media (width<700px) {
  .footer__nav{
  display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 24px;
 
}
.footer__info {
  max-width:  clamp(22rem, 24.4143rem + -9.9048vw, 15.5rem);;
  display: flex;
  flex-direction: column;
  gap: clamp(1.1875rem, 1.0482rem + 0.5714vw, 1.5625rem);
  margin-right: clamp(0.9375rem, -3.2009rem + 6.6815vw, 2.8125rem);
}
.footer__context {
  font-weight: 400;
font-size: 14px;
white-space: wrap;
line-height: 157%;
color: rgba(0, 0, 0, 0.6);
}
.footer__logo{
  font-family: var(--font-family-main);
font-weight: 700;
font-size: 33px;
color: #000;
}
.footer__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:12px;
}

.footer__company {
   display: flex;
  flex-direction: column;
  
  gap: clamp(0.75rem, 0.3362rem + 0.6682vw, 0.9375rem);
}

.footer__help {
   display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.3362rem + 0.6682vw, 0.9375rem);
}


.footer__questions {
   display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.3362rem + 0.6682vw, 0.9375rem);
}

.footer__resources {
   display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.3362rem + 0.6682vw, 0.9375rem);
}

.footer ul{
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
margin-bottom: 24px;
/* line-height: 18px; */ 
line-height: 113%;
letter-spacing: 0.19em;
text-transform: uppercase;
color: #000;
margin-right: clamp(0rem, -0.3482rem + 1.4286vw, 0.9375rem);
transition:var(--transition-time);
}

.footer li{
  font-weight: 400;
font-size: clamp(0.875rem, 0.8286rem + 0.1905vw, 1rem);
color: rgba(0, 0, 0, 0.6);
white-space: nowrap;
transition: var(--transition-time);
}
.footer li:hover{
  color: #000;
}
.footer__subtitle{
  margin-bottom: 5px;
}
.social__link{
      display: flex;
    justify-content: center;
    align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: #fff;
}
.social__icon{
  color: var(--accent-color);
}
.social__link:hover, .social__icon:hover{
  background: #000;
  color: var(--main-color);
}
.footer__bottom{
  }
.footer__bottom-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (width<768px) {
  .footer__bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
}
.footer__bottom-copyright{
font-weight: 400;
font-size: 14px;
text-align: right;
color: rgba(0, 0, 0, 0.6);
margin-bottom: 16px;
margin-right: 15px;
}
.payment__icon{
  transition: var(--transition-time);
}
.payment__icon:hover{
  cursor: pointer;
  scale: 1;
}
.footer__bottom-payments{
  display: grid;
 grid-template-columns: repeat(5, 1fr);
 gap: clamp(0.625rem, 0.5786rem + 0.1905vw, 0.75rem);
}