/* Скрытый переключатель */
.header__top-toggle {
  display: none;
}

/* Верхний промо-хедер */
.header__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--main-glow-color);
  color: var(--main-color);
  z-index: 1;
  padding: 10px 0 10px 0;
}

.header__top-container {
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__top-link{
text-decoration: underline;
}
.header__top-text {
  white-space: nowrap;
  font-size: 14px;
}

.header__top-close {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--main-color);
}
.header__top-icon{
  transition: var(--transition-time ease);
  transform-origin: center;
  transform-box: fill-box;
}
@media (any-hover: hover) {
	.header__top-close:hover .header__top-icon {
		transform: scale(1.5);
	}
}
/* Когда чекбокс включён — скрываем header_top */
.header__top-toggle:checked + .header__top {
  display: none;
}
@media (max-width:768px){
  .header__top-text{
    font-size: 0;
  }
  .header__top-link{
    font-size: 14px;
    text-emphasis-color: none;
  }
}
