.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
/* Скрытый переключатель */
.header__top-toggle {
  display: none;
}
/* Верхний промо-хедер */
.header__top {
  left: 0;
  right: 0;
  width: 100%;
  background: var(--accent-color);
  color: var(--main-color);
  z-index: 1;
  padding: 10px 0 10px 0;
}
.header__top-container {
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__top-link {
  text-decoration: underline;
}
.header__top-text {
  white-space: nowrap;
  font-size: clamp(12px, 1vw, 14px);
}
.header__top-close {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--main-color);
}
.header__top-icon {
  transition: var(--transition-time ease);
  transform-origin: center;
  transform-box: fill-box;
  pointer-events: none;
}
@media (any-hover: hover) {
  .header__top-close:hover .header__top-icon {
    transform: scale(1.5);
  }
}
/* Когда чекбокс включён — скрываем header_top */
.header__top-toggle:checked+.header__top {
  display: none;
}
@media (width <=768px) {
  .header__top-text {
    font-size: 0;
  }
  .header__top-link {
    font-size: 14px;
    text-emphasis-color: none;
  }
}
/* header-main*/
.header__main {
  position: relative;
  left: 0;
  right: 0;
  margin-top: 11px;
}

.header__main-container {
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  gap: clamp(18px, 1vw, 40px);
}

.logo {
  font-weight: 700;
  font-size: clamp(25px, 2.5vw, 32px);
  text-align: left;
  color: var(--accent-color);
  font-family: var(--font-family-main);
  align-self: center;
}

.header__main-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: clamp(12px, 1vw, 14px);
}

.header__main-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header__action-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-color);
  flex-shrink: 0;
}
.header__main-search {
  width: 100%;
  background: var(--main-glow-color);
  padding: 10px 0;
  font-size: clamp(12px, 1.2vw,16px);
  border-radius: 999px;
  width: 462px;
  height: clamp(34px, 3.5vw, 48px);
  display: flex;
  align-items: center;
  gap: 12;
  padding: 12px 16px;
  gap: 10px;
}
/* input */
.header__main-search input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
}
.header__main-icon {
  width: 24px;
  height: 24px;
  fill: #989898;
  flex-shrink: 0;
}
.header__main-icon:hover {
  cursor: pointer;
}