

.main{
  margin-top: 106px;
}
.hero {
  position: relative;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  padding-top: 106px;

}

.hero__content {
}
.hero__title {
 color: rgba(0, 0, 0, 1);
font-family: var(--font-family-main);
font-style: Regular;
font-size: 57px;
font-weight: 400;
line-height: 64px;
letter-spacing: 0%;
text-align: left;
flex-direction: row;
width: 577px;
margin-bottom: 34px;
}
.hero__info {
  color: rgba(0, 0, 0, 0.6);
width: 577px;
font-family: Satoshi;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
.hero__button {
  
}
.button {
  /* Frame 14 */
width: 210px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 62px;
background: rgba(0, 0, 0, 1);
margin-bottom: 63px;


}
.hero__link {
  color: rgba(255, 255, 255, 1);
  font-family: var(--font-family-accent);
  font-size: 16px;
  font-weight: 500;
  flex-wrap: wrap;
}
.hero__stats {
  display: flex;
  gap: 54px;
}
.hero__stat {
  /* Frame 55 */
width: 162px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: -2;


}
.stat__value {
/* 200+ */
width: 107px;
height: 54px;
display: flex;
flex-direction: row;
align-items: center;
color: rgba(0, 0, 0, 1);

font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;

}
.stat__label {
  color: rgba(0, 0, 0, 0.6);
font-size: 16px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
width: 182px;
}
.hero__img {
    position: absolute;
    z-index: var(--layer-negative);
    top: 50px;
    /* right: 0; */
    left: 1.5%;
}