

.main{
  margin-top: 140px;
}
.hero {
  position: relative;
    background-color: #F2F0F1;
    z-index: var(--layer-0);
}
.hero__inner {
  display: flex;
  justify-content: space-between;
padding: clamp(2.5rem, 0.1786rem + 9.5238vw, 8.75rem) 0 clamp(0.625rem, -5.9648rem + 13.7109vw, 6.375rem);
  gap: 1px;
}
@media (width<=768px) {
  .hero__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: clamp(11.3125rem, 0.7371rem + 43.3862vw, 21.5625rem);
  }
}

.hero__content {
  margin-right: clamp(0.9375rem, 0.5893rem + 1.4286vw, 1.875rem);
  
}
.hero__title {
 color: rgba(0, 0, 0, 1);
font-family: var(--font-family-main);
font-size: clamp(2rem, 1.4196rem + 2.381vw, 3.5625rem);
font-weight: 400;
text-align: left;
flex-direction: row;
width:clamp(20.125rem, 14.2054rem + 24.2857vw, 36.0625rem);;
margin-bottom: 34px;
flex-wrap: wrap;
}
.hero__info {
  color: #00000099;
width: clamp(22.375rem, 17.8946rem + 18.381vw, 34.4375rem);;
font-size: clamp(0.875rem, 0.8286rem + 0.1905vw, 1rem);
font-weight: 400;
text-align: left;
margin-bottom: 32px;
}
.hero__button {
  margin-bottom: 48px;
}
.button {
width:clamp(13.125rem , 25.8107rem + -14.0952vw, 22.375rem);
height: 52px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 62px;
background: var(--accent-color);
}
.hero__link {
  color: rgba(255, 255, 255, 1);
  font-family: var(--font-family-accent);
  font-size: 16px;
  font-weight: 500;
  flex-wrap: wrap;
}
.hero__stats {
  display: flex;
  gap:clamp(2.875rem, 2.6893rem + 0.7619vw, 3.375rem);
  flex-wrap: wrap;
}
@media (width<=768px){
  .hero__stat:nth-child(3) {
    order: 1;
    flex-basis: 100%;
    translate: 15% 0;
  }
  .hero__stat:nth-child(3)::before{
    display: none;
  }
}
.hero__stat {
  position: relative;
width: clamp(8.5rem, 7.6643rem + 3.4286vw, 10.75rem);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: -2;
}
.hero__stat::before{
    position: absolute;
    content: "";
    border: 1px solid #0000001a;
    width:clamp(3.25rem, 2.7393rem + 2.0952vw, 4.625rem);
    height: 0px;
    transform: rotate(-90deg);
    top: 50%;
    
    translate: -85% 0;
}
.hero__stat:first-child::before{
  display: none;
}
.stat__value {
width: 107px;
height:clamp(2rem, 1.4893rem + 2.0952vw, 3.375rem);
display: flex;
flex-direction: row;
align-items: center;
color: rgba(0, 0, 0, 1);
font-size: clamp(1.5rem, 1.1286rem + 1.5238vw, 2.5rem);
font-weight: 700;
text-align: left;
}
.stat__label {
  color: rgba(0, 0, 0, 0.6);
font-size: clamp(0.75rem, 0.6571rem + 0.381vw, 1rem);
font-weight: 400;
letter-spacing: 0%;
text-align: left;
width: 182px;
}

.hero__img{
  position: absolute;
  z-index: var(--layer-negative);
  top: 50px;
  left: 1.5%;
  width: clamp(24.375rem, 0rem + 100vw, 90rem);
  height:clamp(28rem, 23.0089rem + 20.4762vw, 41.4375rem);
  max-width: 100%;
  height: auto;
  display: block;
}
.hero__media-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("../icons/Decoration/star-1.svg") no-repeat;
 width: 104px;
 height: 104px;
  
  z-index: var(--layer-1);
}
@media (width<=768px){
  .hero__img{
    position: absolute;

    top: auto;
    align-self: flex-start;
    translate: -35% 0;
  }
}
