*{
  color: white;
  
  font-family: 'Montserrat', san-serif;
}
body{
  background-color:#2766AE;
}
.container{
max-width: 1440px;

}


.header__top-inner{
  margin: 30px 270px 30px 270px;
  display: flex;
  justify-content: space-around;
  height: 48px;
}
.header__nav{
  padding:14px 0 14px 0;
}
.header__menu{
  display: flex;
  align-items:center;
  justify-content:flex-start;
}
.header__menu-item{
  margin-right: 30px;
  font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.header__menu-item:hover{
  background-color: white;
  /* Frame 2 */
width: 113px;
height: 48px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 14px 30px 14px 30px;
border-radius: 100px;
color: blue;
}


.header__body{
  background-image: url('../img/Rectangle.webp') ;
  background-size: cover;

  height: 508px;
}
.header__body{
  padding: 60px 270px 60px 270px;
}
h1{
  justify-self: center;
  margin-top: 60px;
  font-size: 40px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
}
.header__body-content{
  display: flex;
justify-content: center;
  margin: 60px 0 60px 0;
}
.header__body-text{
  margin-right: 144px;
}
p{
  font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
max-width: 436px;
margin-bottom: 15px;

}

.header__body-link{
  color: #01a2cb;
}
.header__body-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header__body-button{
  width: 320px;
height: 56px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 18px 30px 18px 30px;
border-radius: 100px;
background: linear-gradient(180.00deg, rgba(0, 164, 204, 1),rgba(39, 102, 174, 1) 100%);
}
.header__body-button:active{
  cursor: url(img/icon.png), pointer;
}
.info__inner{
  max-width: 900px;
  
}
.info__card{
  display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 28px;
justify-content: center;
}
.block-n {
    width: 204px;
height: 141px;
/* Автолейаут */
display: inline-block;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
padding: 28px;
border: 1px solid #176bae;
    background-color: #197cb8;
    box-shadow: inset 2px 2px #197cb8;
    border-radius: 16px;
}
h3{
  font-size: 22px;
font-weight: 600;
line-height: 100%;
text-transform: uppercase;
margin-bottom: 10px;
}
.block__text{
  text-align: center;
  font-size: 16px;
font-weight: 400;
line-height: 20px;
}
main{
      padding: 120px 265px 120px 425px;
}
.info__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__text{
  max-width: 513px;
  margin: 15px 0 60px 0;
}
.info__button{
display: flex;
justify-content: center;
  margin-top: 30px;
}
footer{
  border-top: 1px solid #323952;
  padding: 60px 435px 60px 425px;
}
.footer__inner{
  display: flex;
  justify-content: space-around;
  
}

.footer__text{
  margin-top: 15px;
  max-width: 267px;
  font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.footer__socials{
  font-size: 22px;
font-weight: 600;
line-height: 100%;
text-transform: uppercase;
}
.footer__socials-item{
  font-size: 16px;
font-weight: 400;
line-height: 20px;
margin-bottom: 10px;
}
.footer__socials-item:first-child{
  margin-top: 20px;
}
.footer__socials-item:last-child{
  margin-bottom: 0;
}
.footer__nav{
   font-size: 22px;
font-weight: 600;
line-height: 100%;
text-transform: uppercase;

}
.footer__nav-item{
  font-size: 16px;
font-weight: 400;
line-height: 20px;
margin-bottom: 10px;
}
.footer__nav-item:first-child{
  margin-top: 20px;
}
.footer__nav-item:last-child{
  margin-bottom: 0;
}