.footer {
  margin-top: auto;
  padding: 60px 0 40px;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid #d3cbd9;
  margin-bottom: 40px;
}
.menu ul {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 60px;
  list-style: none;
  align-items: center;
  padding: 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 40px;
}


.menu a {
  font-weight: 400;
  transition: color 0.2s;
  line-height: 130%;
  color: #535755;
  font-size: 16px;
}

.copyright {
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 14px;
  color: #858e8a;
}


.menu a:hover {
  color: #3596ed;
}