h1{
  text-align: center;
}
.text::before{
content: '';
display: block;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: red;
border-color: black;
    transform: translate(720px, 50.4px);
    border: 6px solid black;
}
.text::after{
content: '';
display: block;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: blue;
border-color: black;
   transform: translate(990.9px, -46.2px);
    border: 6px solid black;
}
