:root{
  
  --accent: #111;
  --bg: #fff;
 
}

/* Сброс мелкий */
*{box-sizing:border-box}

body{
display: flex;
  font-family:  sans-serif;
  justify-content: center;
  min-height: 100vh;
  align-items: center;

}

/* Форма */
.profile-form{
  max-width:400px;
  padding: 30px;
  width: 100%;
  border:2px solid #333;
  border-radius: 6px;
}

.form-group {
  padding: 0;
  border: none;
}



.form-group-title {
  font-weight: 700;
  margin-bottom: 15px;
  padding: 0;
}
.textarea {
  max-height: 150px;
  min-height: 30px;
  resize: vertical;
} 
.label {
  display: inline-block;
  margin-bottom: 10px;
}
.button {
  border-radius: 6px;
  border: none;
  padding: 6px 18px;
  background-color: #9e1fff;
  cursor: pointer;
  transition: opacity 0.2s;
  color: #fff;
}

.button:hover {
  opacity: 0.85;
}

.button:not(:disabled):active {
  background-color: #8719db;
}



.input:focus-visible,
.textarea:focus-visible,
.button:focus-visible {
  outline: 2px solid #9e1fff;
  outline-offset: 1px;
}

.input,
.textarea {
  border-radius: 6px;
  border: 1px solid #333;
  outline: none;
  padding: 5px 12px;
  width: 100%;
  margin-bottom: 20px;
}


.checkbox {
  position: absolute;
  outline: none;
  appearance: none;
}
.checkbox-label {
  padding-left: 22px;
}
.input:disabled,
.textarea:disabled {
  opacity: 0.5;
}
.checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  margin-left: -22px;
  border-radius: 4px;
  height: 16px;
  border: 1px solid #333;
  cursor: pointer;
}
.checkbox:checked::after {
  background: url("../images/check-icon.svg") no-repeat center, #9e1fff;
}
.button:disabled,
.checkbox:disabled::after {
  cursor: not-allowed;
  opacity: 0.5;
}
.checkbox-text {
  font-size: 14px;
}
