html{
  font-family: sans-serif;
}
body *{
  box-sizing: border-box;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  padding: 15px 15px;
  
}
.header__container {
  
}


.header__logo {
  margin-right: 15px;
  
}
.header__logo-link {
  display: block;
width: 50px;
height: 50px;
background-color: black;

}
.header__list {
padding: 0;
margin: 0;
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 15px;
margin-right: 15px;
}
.header__list-item {
  display: flex;
}
.header__link-item {
  font-weight: 400;
  font-size: 20px;
  color: black;
  
}
.header__tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  list-style: none;
  color: black;
  
}