.header-inner {
  display: flex;
  border-bottom: 1px solid #d3cbd9;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.phone {
  letter-spacing: 0.04em;
  font-size: 14px;
  text-align: right;
  color: #858e8a;
  font-weight: 300;
  text-transform: uppercase;
}


.phone a {
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s;
  color: #2c332f;
}

.phone a:hover {
  color: #3596ed;
}
.phone p {
  margin-bottom: 8px;
}
