body {
 
  font-family: var(--font-family-accent);
  font-weight: 400;
font-size: 16px;
color:var(--accent-color);
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
  scrollbar-gutter: stable;
}
.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}
.divider{
  max-width: 1240px;
  border: 1px solid #0000001a;
width:  clamp(22.375rem, -2.9176rem + 103.7647vw, 77.5rem);
height: 0px;
margin:  clamp(2.5625rem, 1.9029rem + 2.7059vw, 4rem) auto;

}
.page__body {
  min-width: 375px;
  background-color: var(--bg-color);
}

.page__body--no-scroll {
  overflow-y: hidden;
}


img {
  object-fit: cover;
}

a:focus-visible,
button:focus-visible,
input:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.text-light,
.text-regular {
  font-size: 16px;
  line-height: 140%;
  color: var(--main-color);
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.title-xs,
.title-sm,
.title-md {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}

.title-md {
  /* min-width 375px, max-width 992px */
  font-size: clamp(32px, 0.936rem + 4.54vw, 60px);
}

.title-sm {
  /* min-width 375px, max-width 768px */
  font-size: clamp(24px, 1.023rem + 2.04vw, 32px);
}

.title-xs {
  font-size: 18px;
}

@media (width > 576px) {
  .section {
    padding-bottom: 140px;
  }

  .section-title {
    margin-bottom: 40px;
  }
}

@media (width <= 576px) {
  .section {
    padding-bottom: 80px;
  }

  .section-title {
    margin-bottom: 30px;
  }
}
