:root {
  /* font-family */
  --font-family-main: "IntegralCF", sans-serif;
  --font-family-accent: "Satoshi", sans-serif;

  /* colors */
  --main-color:#fff;
  --accent-color: #000;
  
  --main-glow-color: #F0F0F0;
  --accent-color: #030303;
  --accent-glow-color: #ffea004d;
  --bg-color: #2a2a29;
  --secondary-color: #c9c69b;
  --disabled-color: #5d5d56;
  --disabled-glow-color: #5d5d564d;
  --shadow-color: #181817;
  --overlay: linear-gradient(rgba(30, 30, 30, 0.9), #000 1810%);

  /* shadows */
  --shadow-glow: 0 0 6px 2px var(--main-glow-color);
  --shadow-accent-glow: 0 0 6px 2px var(--accent-glow-color);
  --shadow-disabled-glow: 0 0 6px 2px var(--disabled-glow-color);

  /* container */
  --container-width: 1240px;
  
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.2s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}

